<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>用户列表</title>
    <link href="css/tables.css" rel="stylesheet" />
</head>

<body>
    <div class="emp_contaner">
        <h2>用户列表</h2>
        <table>
            <tr>
                <th>头像</th>
                <th>用户名</th>
                <th>密码</th>
                <th colspan="2">操作</th>
            </tr>
            <% for(var i = 0; i < userLists.length; i++)  {%>
            <tr>
                <td><img src="images/y.jpg" width="80px" height="80px" /></td>
                <td>
                    <%= userLists[i].username %>
                </td>
                <td>
                    <%= userLists[i].password %>
                </td>
                <td><a href="delete?uid=<%= userLists[i].id  %>">删除</a></td>
                <td><a href="find?uid=<%= userLists[i].id  %>">修改</a></td>
                <!-- <td><a href="update/<%= userLists[i].id  %>">修改</a></td>    接收参数据url写法 /update/:uid -->
            </tr>
            <%}%>

        </table>
    </div>

</body>

</html>